<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>css网页布局</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
<!--整体到部分，左到右，上到下-->
    <!--头部-->
    <div class="header">
        <div class="logo">
            <ul>
                <li>DEMO</li>
            </ul>
        </div>
        <div class="nav">
            <ul>
                <li>About</li>
            </ul>
        </div>
    </div>
    <!--主体-->
    <div class="main">
        <div class="top">
            <img src="../static/image/index/index.jpg" alt="topimg">
        </div>
        <!--遮罩层-->
        <div class="topplayer"></div>
        <!--最上层的内容-->
        <div class="topplayer-top">
            <div class="word">MY DEMO H5</div>
        </div>
        <div class="middle">
            <div class="m-top">
                <div class="demo-layer demo1">
                    <img src="../static/image/index/1.jpg" alt="DEMO1">
                    <div class="demo">DEMO1</div>
                </div>
                <div class="demo-layer demo1">
                    <img src="../static/image/index/2.jpg" alt="DEMO2">
                    <div class="demo">DEMO2</div>
                </div>
                <div class="demo-layer demo3">
                    <img src="../static/image/index/3.jpg" alt="DEMO3">
                    <div class="demo">DEMO3</div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="m-middle">
                "Life is like riding a bicycle. To keep your balance, you must keep moving."
            </div>
            <div class="m-bottom">
                <div class="m-com">
                    <img src="../static/image/index/4.jpg" alt="4.jpg">
                    <div class="demo4">Cool Demo</div>
                    <div class="demo5">Make it cool</div>
                </div>
                <div class="m-com">
                    <img src="../static/image/index/5.jpg" alt="5.jpg">
                    <div class="demo4">Great Demo</div>
                    <div class="demo5">Make it great</div>
                </div>
                <div class="m-com">
                    <img src="../static/image/index/6.jpg" alt="6.jpg">
                    <div class="demo4">Wonderful Demo</div>
                    <div class="demo5">Make it wonderful</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
